* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* i love css */

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  background-color: lightgrey;
  box-sizing: border-box;
  margin: 0;
}

.navbar ul {
  display: flex;
  width: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  list-style: none;
}

.navbar ul li {
  display: inline;
  padding: 1.5rem;
}

.navbar .navlink {
  text-decoration: none;
  color: white;
}


.spacer {
  height: 5rem;
}